body {
  background-color: var(--main-bg-color);
}

main {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.readerContainer {
  display: grid;
  height: 100dvh;
  grid-template-rows: min-content 1fr;
  padding: 10px;
}

.reader {
  border: 1px solid black;
  background-color: var(--reader-bg-color);
  padding: 20px;
  overflow: scroll;
}

.post {
  text-align: justify;
  margin-bottom: 50px;
}

.post .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -0.5em;
}

.post p {
  margin-bottom: 1em;
}

.post blockquote {
  margin-left: 1em;
}

#title {
  font-weight: normal;
  font-style: italic;
}

:root {
  --main-bg-color: #e9e9e9;
  --reader-bg-color: #fbfbfb;
}
