body {
  background-color: var(--main-bg-color);
  font-family: "Lora", "Times New Roman", Times, serif;
  color: var(--black);
}

#all {
  height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr repeat(2, minmax(100px, 600px)) 1fr;
  gap: 10px;
}

.reader {
  grid-row: 2;
  border: 1px solid var(--black);
  background-color: var(--reader-bg-color);
  padding: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

#left {
  grid-column: 2;
}

#right {
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
  grid-auto-rows: max-content;
}

#arenaNextContainer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  height: min-content;
}

.block {
  overflow: hidden;
}

.content {
  aspect-ratio: 1;
  overflow: hidden;
}

.textContent {
  position: relative;
}

.textContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white 0%, transparent 50%);
  pointer-events: none; /* allow interaction with underlying content if needed */
}

.blockTitle {
  background-color: var(--main-bg-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: italic;
  margin-bottom: 0.5em;
}

.post {
  text-align: justify;
  margin-bottom: 50px;
}

.post .time {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 0.5em;
  background-color: var(--main-bg-color);
}

.post .time p {
  margin-bottom: 0;
}

.post p {
  margin-bottom: 1em;
}

.post blockquote {
  margin-left: 1em;
}

.post ul,
ol {
  padding-left: 20px;
}

.buttonText {
  font-style: italic;
  text-decoration: underline;
  width: max-content;
}

.buttonText:hover {
  cursor: pointer;
  background-color: var(--reader-bg-color);
}

.invertButtonText:hover {
  background-color: var(--main-bg-color);
}

#sidebar {
  grid-row: 1;
  grid-column: 2 / -2;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--dark-gray);
}

#title {
  font-weight: normal;
  font-style: italic;
  font-size: 28px;
}

#infoPopup {
  position: fixed;
  background-color: var(--reader-bg-color);
  border: 1px solid var(--black);
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%);
  padding: 50px;
  box-shadow: 5px 5px var(--dark-gray);
  max-height: 500px;
  min-width: 300px;
  overflow: scroll;
}

#infoPopup p {
  margin-bottom: 1em;
}

#infoPopup ol {
  margin-bottom: 1em;
  padding-left: 30px;
}

:root {
  --main-bg-color: #e1f0d5;
  --reader-bg-color: #fbfbfb;
  --dark-gray: #a2d6cb;
  --black: #510959;
}

.invisible {
  visibility: visible;
}

#readWriteToggle {
  display: none;
}

#options {
  display: flex;
  justify-content: space-between;
}

img {
  filter: grayscale(1);
}

img:hover {
  filter: grayscale(0.25);
}

@media (max-width: 700px) {
  #readWriteToggle {
    display: block;
  }

  #left {
    grid-column: 2 / 4;
  }

  #right {
    grid-column: 2 / 4;
  }

  .reader {
    position: relative;
  }

  .invisible {
    visibility: hidden;
  }
}
